<button (click)="goBack()" class="mt-4 btn btn-secondary">
  &#8592; Volver
</button>
<div *ngIf="hero" class="text-center my-4">
  <h2>{{ hero.name | uppercase }}</h2>
  <div class="input-group my-4 m-auto new-hero-box">
    <span class="input-group-text">ID: {{ hero.id }} </span>
    <input
      type="text"
      id="hero-name"
      [(ngModel)]="hero.name"
      placeholder="name"
      class="form-control"
    />
    <button (click)="save()" class="btn btn-warning">Guardar</button>
  </div>
</div>
