<nav class="navbar navbar-expand-sm py-4 background-nav">
  <div class="container">
    <h1 class="me-4">{{ title }}</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item margin-mobile">
          <a class="btn btn-outline-success me-3" routerLink="/dashboard"
            ><span class="pi pi-home me-2"></span>Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary me-3" routerLink="/heroes"
            ><span class="pi pi-user me-2"></span>Heroes</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary" routerLink="/heroes-list"
            ><span class="pi pi-list me-2"></span>Lista de heroes</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
