<div class="text-center mt-4">
  <p-dialog header="Title" [(visible)]="display"> Content </p-dialog>

  <button
    type="button"
    (click)="showDialog()"
    icon="pi pi-info-circle"
    label="Show"
  ></button>

  <h2>Mis Heroes</h2>
  <div class="my-4 m-auto new-hero-box" [hidden]="submitted">
    <form #heroForm="ngForm" (ngSubmit)="newHero()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="modelo.name"
          name="name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          El nombre es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="name">Alter Ego:</label>
        <input
          class="form-control"
          type="text"
          id="alterEgo"
          name="alterEgo"
          [(ngModel)]="modelo.alterEgo"
          required
          #alterEgo="ngModel"
        />
        <div
          [hidden]="alterEgo.valid || alterEgo.pristine"
          class="alert alert-danger"
        >
          El Alter Ego es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="name">Poder:</label>
        <select
          id="power"
          name="power"
          class="form-select"
          [(ngModel)]="modelo.power"
          required
        >
          <option *ngFor="let poder of poderes" [value]="poder">
            {{ poder }}
          </option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-success my-3"
        [disabled]="!heroForm.form.valid"
      >
        Añadir
      </button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>Ha añadido el siguiente héroe:</h2>
    <div class="row">
      <div class="col-xs-3">Nombre:</div>
      <div class="col-xs-9">{{ modelo.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego:</div>
      <div class="col-xs-9">{{ modelo.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Poder:</div>
      <div class="col-xs-9">{{ modelo.power }}</div>
    </div>
    <br />
    <button
      type="button"
      class="btn btn-warning"
      (click)="submitted = false; heroForm.reset()"
    >
      Añadir otro
    </button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let hero of heroes">
      <div class="card my-3 m-auto" style="width: 18rem">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Placeholder_couple_superhero.png"
          class="card-img-top"
          alt="imágen de heroes o heroína"
        />
        <div class="card-body">
          <h5 class="card-title">{{ hero.id }} - {{ hero.name }}</h5>
          <p class="card-text">Poder: {{ hero.power }}</p>
          <p class="card-text">Alter Ego: {{ hero.alterEgo }}</p>
          <a
            routerLink="/detail/{{ hero.id }}"
            class="btn btn-outline-primary btn-detalle"
          >
            Detalles
          </a>
          <button
            class="btn btn-danger float-right"
            title="delete hero"
            (click)="delete(hero)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
