<div class="text-center mt-4">
  <h2>Mis Heroes</h2>
  <div class="input-group my-4 m-auto new-hero-box">
    <span class="input-group-text">Nuevo Heroe: </span>
    <input type="text" #heroName class="form-control" />
    <button
      (click)="add(heroName.value); heroName.value = ''"
      class="btn btn-outline-primary"
    >
      Añadir
    </button>
  </div>
</div>
<div class="w-75 m-auto">
  <ul class="list-group">
    <li *ngFor="let hero of heroes" class="list-group-item align-items-center">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Placeholder_couple_superhero.png"
        alt="imagen heroe"
        class="me-3 image-size"
      />
      <a
        routerLink="/detail/{{ hero.id }}"
        class="me-3 btn btn-outline-secondary button-width"
      >
        {{ hero.id }} - {{ hero.name }}
      </a>
      <button
        class="btn btn-danger float-right"
        title="delete hero"
        (click)="delete(hero)"
      >
        Eliminar
      </button>
    </li>
  </ul>
</div>
