<div class="text-center mt-4">
  <h2>Mis Heroes</h2>
  <p-dialog
    header="Nuevo Héroe"
    [(visible)]="display"
    closeOnEscape="true"
    [modal]="true"
  >
    <form #heroForm="ngForm" (ngSubmit)="newHero(); display = false">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="modelo.name"
          name="name"
          #name="ngModel"
          autofocus
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          El nombre es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="name">Alter Ego:</label>
        <input
          class="form-control"
          type="text"
          id="alterEgo"
          name="alterEgo"
          [(ngModel)]="modelo.alterEgo"
          required
          #alterEgo="ngModel"
        />
        <div
          [hidden]="alterEgo.valid || alterEgo.pristine"
          class="alert alert-danger"
        >
          El Alter Ego es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="name">Poder:</label>
        <select
          id="power"
          name="power"
          class="form-select"
          [(ngModel)]="modelo.power"
          required
        >
          <option *ngFor="let poder of poderes" [value]="poder">
            {{ poder }}
          </option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-success my-3"
        [disabled]="!heroForm.form.valid"
      >
        Añadir
      </button>
    </form>
  </p-dialog>
  <div class="container">
    <button
      pButton
      type="button"
      label="Añadir Héroe"
      icon="pi pi-info-circle"
      class="p-button-help"
      (click)="showDialog()"
    ></button>
  </div>
  <div [hidden]="!submitted" class="mt-4 border border-warning">
    <h2 class="mt-3">Ha añadido el siguiente héroe:</h2>
    <div class="row">
      <div class="col-xs-3">
        Nombre: <span>{{ modelo.name }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        Alter Ego: <span>{{ modelo.alterEgo }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        Poder: <span>{{ modelo.power }}</span>
      </div>
    </div>
    <br />
    <button class="btn btn-warning mb-3" (click)="submitted = false">
      Ocultar
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let hero of heroes">
      <div class="card my-3 m-auto" style="width: 18rem">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Placeholder_couple_superhero.png"
          class="card-img-top"
          alt="imágen de heroes o heroína"
        />
        <div class="card-body">
          <h5 class="card-title">{{ hero.id }} - {{ hero.name }}</h5>
          <p class="card-text">Poder: {{ hero.power }}</p>
          <p class="card-text">Alter Ego: {{ hero.alterEgo }}</p>
          <a
            routerLink="/detail/{{ hero.id }}"
            class="btn btn-outline-primary btn-detalle"
          >
            Detalles
          </a>
          <button
            class="btn btn-danger float-right"
            title="delete hero"
            (click)="delete(hero)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
