@media (min-width: 1024px) {
  .new-hero-box{
    width: 60%;
  }
}

.float-right{
  float: right;
}

.image-size{
  max-width: 50px;
  max-height: 50px;
}

.button-width{
  width: 20%;
  text-align: initial;
  word-break: break-all;
}

.btn-detalle{
  width: 150px;
}