/* HeroSearch private styles */
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 495px;
  height: 35px;
  padding: 7px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
  box-sizing: content-box;
}

@media (min-width: 320px) {
  .search-result li {
    width: 290px;
    height: 35px;
    padding: 7px;
  }
}

@media (min-width: 375px) {
  .search-result li {
    width: 345px;
    height: 35px;
    padding: 7px;
  }
}

@media (min-width: 425px) {
  .search-result li {
    width: 390px;
    height: 35px;
    padding: 7px;
  }
}

@media (min-width: 768px) {
  .search-result li {
    width: 495px;
    height: 35px;
    padding: 7px;
  }
}

.search-result li:hover {
  background-color: #eee;
}

.search-result li a {
  color: #3f525c;
  padding-top: 5px;
  display: block;
  text-decoration: none;
}

#search-box {
  width: 500px;
  height: 35px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}